<hr>
<p><%= this_year %></p>
<p>Будкина Надежда, github:</p> 
<p><%= github_url(author: "pigchevalier",repo: "test-guru", text: "Репозиторий проекта") %> </p>
<p><%= link_to "Учебный проект в онлайн школе Thinknetica", "https://www.thinknetica.com" %></p>
<p>Приложение для создания и выполнения разных тестов. Есть две группы: пользователи (могут выполнять тесты), администраторы (создают тесты)</p>
<p>Возможности TestGuru: Создание и управление тестами, аутентификация, базовое разграничение прав, выполнение тестов, публикация результатов в соцсети</p>
