<h1>Tests</h1>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th>Level</th>
    <th>Count of questions</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>

</table> 

<%= link_to 'Badges', users_badges_path %>
